// override variables here
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700");

$enable-rounded: true;
$primary: #39abb2;
$secondary: #287ad7;

.gradient {
  background-image: linear-gradient(to left, #39abb2 0%, #39abb2 22%, #2c85ce 100%);

  &-text {
    background-image: linear-gradient(-224deg, #39abb2 0%, #39abb2 37%, #287ad7 77%, #287ad7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}
@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "modal";
html {
}
body {
  font-family: "Lato", sans-serif;
  // font-weight: 100 !important;
  font-size: 14px;
  background: #f7fbfe;
}
* {
  padding: 0;
  margin: 0;
  outline: none;
  box-shadow: none;
  box-sizing: border-box;
}
p {
  margin-bottom: 0;
}

@import "bottomnav";
@import "./pages";

page {
  display: block;
}
.my-input {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  .form-control {
    border-radius: 0;
    height: 50px;
    line-height: 50px;
    padding: 0;
    background: none !important;
    color: white;
    border: none;
    font-size: 16px;
    &::placeholder {
      // color: fade-out($color: #fff, $amount: 0.5);
      color: rgba(255, 255, 255, 0.5);
      font-weight: 100 !important;
    }
    &:focus {
      outline: none;
      border: none;
      box-shadow: none;
    }
  }
  &.dark {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    .form-control {
      color: #333333;
      &::placeholder {
        // color: fade-out($color: #fff, $amount: 0.5);
        color: #999;
      }
    }
  }
  &.detail {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);

    .form-control {
      color: #000;
      font-size: 16px;
      &::placeholder {
        color: #999;
      }
    }
  }
}
.detail-field {
  margin-top: 20px;
  padding-left: 10px;
  img {
    width: 18px;
    height: auto;
  }
  label {
    font-size: 12px;
    text-transform: uppercase;
    margin: 0;
    color: #777;
    padding: 0 !important;
    margin: 0 !important;
  }
  .form-control {
    font-weight: bold;
    margin: 0 !important;
    padding: 0 !important;
  }
  p {
    font-weight: bold;
    font-size: 16px;
  }
}
.fas.big {
  font-size: 24px;
}

.text {
  &.f16 {
    font-size: 16px;
  }
  &.f18 {
    font-size: 18px;
  }
  &.f22 {
    font-size: 22px;
  }
  &.light {
    font-weight: 100;
  }
  &.black {
    font-weight: 700;
  }
  &.bold {
    font-weight: 400;
  }
  &-body {
    &-small {
      font-size: 12px;
      line-height: 20px;
    }
  }
}
.my-check {
  input {
    display: none;
  }
  label {
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: transparent;
    float: left;
  }
  input:checked + label {
    background: white;
  }
  span {
    display: block;
    line-height: 20px;
    font-size: 12px;
    float: left;
    color: white;
    margin-left: 5px;
  }
}

.header {
  @extend .gradient;
  padding-top: 40px;
  padding-bottom: 20px;
}
.category-select {
  color: #595d5f;
  background: #f7fbfe;
  border: 0;
  height: 50px;
  font-size: 14px;
  font-weight: bold;
  margin: 0 10px;
}
divider {
  display: block;
  position: static;
  height: 1px;
  background: #ccc;
  width: 100%;
}

.listview {
  background: #fff;
  overflow: auto;
  height: 100%;
  .listitem {
    color: black;
    padding: 20px 10px;
    border-bottom: 1px solid #ccc;
    span {
      font-size: 12px;
      color: #999;
    }
    img.avatar_message {
      max-width: 32px;
      min-height: 32px;
    }
    img.avatar {
      max-width: 24px;
      min-height: 24px;
    }
    img.allday {
      max-width: 12px;
      max-height: 12px;
      margin-right: 5px;
    }
    &:hover {
      background: #ddd;
    }
    &.title {
      font-size: 20px;
      margin-top: 10px;
    }
  }
}
@import "sliderlist";

.messages {
  padding: 0 10px;
  @extend .d-flex;
  @extend .flex-column;
  height: 100%;
  .timestamp {
    font-size: 10px;
    text-align: center;
    padding: 10px 0;
  }
  .bubble {
    background: #ccc;
    border-radius: 16px;
    padding: 10px;
    width: auto;
    margin-top: 5px;
    &.to {
      color: white;
      @extend .ml-auto;
      border-bottom-right-radius: 0;
      @extend .gradient;
    }
    &.from {
      @extend .mr-auto;
      border-bottom-left-radius: 0;
    }
  }
}

.calendar {
  &-weeks {
    div {
      font-size: 10px;
      margin: 10px 0;
    }
  }
  .date-selector {
    height: 30px;
    text-align: center;
    line-height: 30px;
    &.active {
      background: url(../img/calendar_selectedic_.png) center center no-repeat;
      background-size: contain;
      color: white;
    }
  }
}
